
.header{
    display: flex;
    flex-direction: wrap;
    width: 100%;
    height: 155px;
    background: #FFFFFF;
}

.nav_bar{
    display: flex;
    width: 700px;
   flex-direction : wrap;
    align-items: center;
    justify-content: space-evenly;
 

}

a{
    text-decoration: none;
  
}

.div_logo{
    display: flex;
    align-items: center;
    width: 1200px;
    
}

.logo{
    
    height: 100px;
}
.button_header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 84px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
}

.button_header:hover {
    background: #000000; 
    color: #F4F9E9;
  }

  .button:active {
    background: #f4f9e4;
    transform: translateY(4px);
  }

  .login{
      color: #000000;
      background: #EFC57E;
  }

  .signup{
     color: #FFFFFF;
     background: #A27BD5;
  }